html {
  font-family: "Open Sans", sans-serif;
}

input,
select,
textarea {
  border-color: #f2f2f2;
}

button {
  padding: 1rem .5rem;
  border: 10px solid;
  color: #fff;
  background-color: #000;
}

@media only screen and (min-width: 60em) {

  body {
    background-color: #fff;
  }

}
